Repository ShadyBoukhary/Axion-Technologies-HnH, pull requests merged in 2019-04, with the labels that each got.

#136 updated launch icon and splash screen
  android/app/src/main/res/drawable/background_logo.jpg
  android/app/src/main/res/drawable/launch_background.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  assets/img/background_logo.jpg
  assets/img/icon.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  pubspec.yaml
Labels: App, enhancement

#137 Create splash screen
  android/app/src/main/res/drawable/background.jpg
  android/app/src/main/res/drawable/launch_background.xml
  android/app/src/main/res/drawable/logo.png
  android/app/src/main/res/values/colors.xml
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/Runner/AppDelegate.m
  ios/Runner/Assets.xcassets/Contents.json
  ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/background-3.jpg
  ios/Runner/Assets.xcassets/LaunchImage.imageset/background-4.jpg
  ios/Runner/Assets.xcassets/LaunchImage.imageset/background-5.jpg
  ios/Runner/Base.lproj/LaunchScreen.storyboard
  ios/Runner/Base.lproj/Main.storyboard
  ios/Runner/Info.plist
  lib/app/splash/splash_view.dart
  pubspec.yaml
Labels: App, enhancement

#144 Navigation: Total Route Distance, Remaining distance, and more markers to indicate start and finish lines
  lib/app/map/map_controller.dart
  lib/domain/entities/coordinates.dart
  lib/domain/entities/event.dart
Labels: App, Domain, enhancement

#149 added page/view/controller for Forgot Password UseCase.
  lib/app/pages/forgot_pw/forgot_pw_controller.dart
  lib/app/pages/forgot_pw/forgot_pw_presenter.dart
  lib/app/pages/forgot_pw/forgot_pw_view.dart
  lib/app/pages/login/login_controller.dart
  lib/app/pages/login/login_view.dart
  lib/app/pages/pages.dart
  lib/app/utils/constants.dart
  lib/app/utils/router.dart
Labels: App, Device, enhancement
