Repository ShadyBoukhary/Axion-Technologies-HnH, pull requests merged in 2019-03, with the labels that each got.

#92 Create HHH, Sponsor, and Location Tracking UseCases + their Unit Tests
  lib/device/repositories/device_location_repository.dart
  lib/domain/entities/location.dart
  lib/domain/usecases/get_hhh_usecase.dart
  lib/domain/usecases/location_track_usecase.dart
  lib/domain/usecases/usecase.dart
  pubspec.yaml
  test/unit_tests/usecases/get_hhh_usecase_test.dart
  test/unit_tests/usecases/location_track_usecase_test.dart
Labels: Domain

#98 Create GetUserUseCase and use it
  lib/app/components/hhDrawer.dart
  lib/app/home/home_controller.dart
  lib/app/home/home_presenter.dart
  lib/app/home/home_view.dart
  lib/app/map/map_view.dart
  lib/data/repositories/data_authentication_repository.dart
  lib/domain/entities/user.dart
  lib/domain/usecases/auth/get_authentication_status_usecase.dart
  lib/domain/usecases/get_current_user_usecase.dart
Labels: App, Domain, Task

#101 Add image url to event
  backend/app/controllers/eventController.ts
  backend/app/data/events.ts
  backend/app/interfaces/non_modals/event.ts
  backend/app/models/eventModel.ts
  lib/domain/entities/event.dart
  test/unit_tests/domain/event_test.dart
Labels: Domain, Server, Task

#109 Create WebPage with a WebView for registration
  lib/app/events/events_view.dart
  lib/app/main.dart
  lib/app/web/web_view.dart
  pubspec.yaml
  test/unit_tests/data/events_test.dart
Labels: App, Task

#108 Create events view
  lib/app/components/event_card.dart
  lib/app/events/events_view.dart
  lib/app/register/register_view.dart
Labels: App, Task, bug

#111 Create sponsors page
  lib/app/components/event_card.dart
  lib/app/components/hhDrawer.dart
  lib/app/components/sponsor_card.dart
  lib/app/main.dart
  lib/app/sponsors/sponsors_controller.dart
  lib/app/sponsors/sponsors_presenter.dart
  lib/app/sponsors/sponsors_view.dart
  pubspec.yaml
Labels: App, Task

#113 Create single event page
  lib/app/components/event_card.dart
  lib/app/event/event_controller.dart
  lib/app/event/event_presenter.dart
  lib/app/event/event_view.dart
  lib/app/events/events_view.dart
  lib/app/main.dart
Labels: App, Task

#117 Display real data in EventsPage, update its Controller and Presenter to load, retrieve, and show Real Data
  backend/app/controllers/eventController.ts
  backend/app/data/events.ts
  backend/app/interfaces/non_modals/event.ts
  backend/app/models/eventModel.ts
  lib/app/abstract/controller.dart
  lib/app/components/event_card.dart
  lib/app/event/event_controller.dart
  lib/app/event/event_presenter.dart
  lib/app/event/event_view.dart
  lib/app/events/events_controller.dart
  lib/app/events/events_presenter.dart
  lib/app/events/events_view.dart
  lib/app/home/home_presenter.dart
  lib/domain/entities/event.dart
  lib/domain/usecases/observer.dart
  lib/domain/usecases/register_for_event_usecase.dart
  test/unit_tests/domain/event_registration_test.dart
  test/unit_tests/domain/event_test.dart
Labels: App, Domain, Server, Task, enhancement

#121 Sponsor page displays Sponsors and navigates to WebView
  .gitignore
  backend/app/app.ts
  backend/package.json
  lib/app/components/sponsor_card.dart
  lib/app/home/home_controller.dart
  lib/app/sponsors/sponsors_controller.dart
  lib/app/sponsors/sponsors_presenter.dart
  lib/app/sponsors/sponsors_view.dart
  lib/domain/usecases/get_sponsors_usecase.dart
Labels: App, enhancement

#123 HhDrawer: Logout, Stateful, Clean Cycle
  lib/app/abstract/controller.dart
  lib/app/abstract/view.dart
  lib/app/components/countdown.dart
  lib/app/components/hhDrawer.dart
  lib/app/components/hhDrawer/hhDrawerPresenter.dart
  lib/app/components/hhDrawer/hhDrawerView.dart
  lib/app/components/hhDrawer/hhDrawer_controller.dart
  lib/app/events/events_view.dart
  lib/app/home/home_view.dart
  lib/app/main.dart
  lib/app/map/map_view.dart
  lib/app/register/register_controller.dart
  lib/app/register/register_view.dart
  lib/app/sponsors/sponsors_view.dart
Labels: App, enhancement
